.party-guesses,
.guesses {
    min-height: 50vh;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.party-guesses-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.party-types {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

.party-slot {
    width: 150px;
    height: 100px;
}

.types-container {
    width: fit-content;
}

.party-container {
    width: 100%;
}

.game-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.game-input,
.game-button {
    height: 40px;
    padding: 0 10px;
    font-size: 16px;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.game-answer,
.game-hint {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.game-hint {
    filter: brightness(0);
}

.game-hint-button {
    margin-left: 10px;
}

.game-reset {
    margin-top: 20px;
}

.game-reveal {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-party {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
    }
}

h2 {
    margin-top: 20px;
}

.game-filter {
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}

.show-filter {
    max-height: fit-content;
    transition: max-height 0.25s ease-in;
}

.filter-button {
    @media (min-width: 500px) {
        display: none;
    }
}

.leaderboard-table {
    width: 100%;
}

.start-buttons {
    padding-bottom: 20px;
}


.toast-container {
    z-index: 9999;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
}