.container {
    text-align: center;
}

.guesses {
    height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.types-container {
    width: fit-content;
}
