body {
    margin: 0;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    overflow-y: hidden;
    font-family: 'Sora', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: repeating-linear-gradient(
        45deg,
        rgba(218, 37, 20, 1),
        rgba(194, 94, 18, 1) 487px,
        rgba(218, 37, 20, 1) 679px,
        rgba(194, 94, 18, 1) 20px
    );
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
