.bulbasaur,
.ivysaur,
.venusaur,
.charmander,
.charmeleon,
.charizard,
.squirtle,
.wartortle,
.blastoise,
.caterpie,
.metapod,
.butterfree,
.weedle,
.kakuna,
.beedrill,
.pidgey,
.pidgeotto,
.pidgeot,
.rattata,
.raticate,
.spearow,
.fearow,
.ekans,
.arbok,
.pikachu,
.raichu,
.sandshrew,
.sandslash,
.nidoran♀,
.nidorina,
.nidoqueen,
.nidoran♂,
.nidorino,
.nidoking,
.clefairy,
.clefable,
.vulpix,
.ninetales,
.jigglypuff,
.wigglytuff,
.zubat,
.golbat,
.oddish,
.gloom,
.vileplume,
.paras,
.parasect,
.venonat,
.venomoth,
.diglett,
.dugtrio,
.meowth,
.persian,
.psyduck,
.golduck,
.mankey,
.primeape,
.growlithe,
.arcanine,
.poliwag,
.poliwhirl,
.poliwrath,
.abra,
.kadabra,
.alakazam,
.machop,
.machoke,
.machamp,
.bellsprout,
.weepinbell,
.victreebel,
.tentacool,
.tentacruel,
.geodude,
.graveler,
.golem,
.ponyta,
.rapidash,
.slowpoke,
.slowbro,
.magnemite,
.magneton,
.farfetchd,
.doduo,
.dodrio,
.seel,
.dewgong,
.grimer,
.muk,
.shellder,
.cloyster,
.gastly,
.haunter,
.gengar,
.onix,
.drowzee,
.hypno,
.krabby,
.kingler,
.voltorb,
.electrode,
.exeggcute,
.exeggutor,
.cubone,
.marowak,
.hitmonlee,
.hitmonchan,
.lickitung,
.koffing,
.weezing,
.rhyhorn,
.rhydon,
.chansey,
.tangela,
.kangaskhan,
.horsea,
.seadra,
.goldeen,
.seaking,
.staryu,
.starmie,
.mrmime,
.scyther,
.jynx,
.electabuzz,
.magmar,
.pinsir,
.tauros,
.magikarp,
.gyarados,
.lapras,
.ditto,
.eevee,
.vaporeon,
.jolteon,
.flareon,
.porygon,
.omanyte,
.omastar,
.kabuto,
.kabutops,
.aerodactyl,
.snorlax,
.articuno,
.zapdos,
.moltres,
.dratini,
.dragonair,
.dragonite,
.mewtwo,
.mew {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center;
    margin-left: 25px;
}

.bulbasaur {
    background-image: url(../sprites/001MS.png);
}
.ivysaur {
    background-image: url(../sprites/002MS.png);
}
.venusaur {
    background-image: url(../sprites/003MS.png);
}
.charmander {
    background-image: url(../sprites/004MS.png);
}
.charmeleon {
    background-image: url(../sprites/005MS.png);
}
.charizard {
    background-image: url(../sprites/006MS.png);
}
.squirtle {
    background-image: url(../sprites/007MS.png);
}
.wartortle {
    background-image: url(../sprites/008MS.png);
}
.blastoise {
    background-image: url(../sprites/009MS.png);
}
.caterpie {
    background-image: url(../sprites/010MS.png);
}
.metapod {
    background-image: url(../sprites/011MS.png);
}
.butterfree {
    background-image: url(../sprites/012MS.png);
}
.weedle {
    background-image: url(../sprites/013MS.png);
}
.kakuna {
    background-image: url(../sprites/014MS.png);
}
.beedrill {
    background-image: url(../sprites/015MS.png);
}
.pidgey {
    background-image: url(../sprites/016MS.png);
}
.pidgeotto {
    background-image: url(../sprites/017MS.png);
}
.pidgeot {
    background-image: url(../sprites/018MS.png);
}
.rattata {
    background-image: url(../sprites/019MS.png);
}
.raticate {
    background-image: url(../sprites/020MS.png);
}
.spearow {
    background-image: url(../sprites/021MS.png);
}
.fearow {
    background-image: url(../sprites/022MS.png);
}
.ekans {
    background-image: url(../sprites/023MS.png);
}
.arbok {
    background-image: url(../sprites/024MS.png);
}
.pikachu {
    background-image: url(../sprites/025MS.png);
}
.raichu {
    background-image: url(../sprites/026MS.png);
}
.sandshrew {
    background-image: url(../sprites/027MS.png);
}
.sandslash {
    background-image: url(../sprites/028MS.png);
}
.nidoran♀ {
    background-image: url(../sprites/029MS.png);
}
.nidorina {
    background-image: url(../sprites/030MS.png);
}
.nidoqueen {
    background-image: url(../sprites/031MS.png);
}
.nidoran♂ {
    background-image: url(../sprites/032MS.png);
}
.nidorino {
    background-image: url(../sprites/033MS.png);
}
.nidoking {
    background-image: url(../sprites/034MS.png);
}
.clefairy {
    background-image: url(../sprites/035MS.png);
}
.clefable {
    background-image: url(../sprites/036MS.png);
}
.vulpix {
    background-image: url(../sprites/037MS.png);
}
.ninetales {
    background-image: url(../sprites/038MS.png);
}
.jigglypuff {
    background-image: url(../sprites/039MS.png);
}
.wigglytuff {
    background-image: url(../sprites/040MS.png);
}
.zubat {
    background-image: url(../sprites/041MS.png);
}
.golbat {
    background-image: url(../sprites/042MS.png);
}
.oddish {
    background-image: url(../sprites/043MS.png);
}
.gloom {
    background-image: url(../sprites/044MS.png);
}
.vileplume {
    background-image: url(../sprites/045MS.png);
}
.paras {
    background-image: url(../sprites/046MS.png);
}
.parasect {
    background-image: url(../sprites/047MS.png);
}
.venonat {
    background-image: url(../sprites/048MS.png);
}
.venomoth {
    background-image: url(../sprites/049MS.png);
}
.diglett {
    background-image: url(../sprites/050MS.png);
}
.dugtrio {
    background-image: url(../sprites/051MS.png);
}
.meowth {
    background-image: url(../sprites/052MS.png);
}
.persian {
    background-image: url(../sprites/053MS.png);
}
.psyduck {
    background-image: url(../sprites/054MS.png);
}
.golduck {
    background-image: url(../sprites/055MS.png);
}
.mankey {
    background-image: url(../sprites/056MS.png);
}
.primeape {
    background-image: url(../sprites/057MS.png);
}
.growlithe {
    background-image: url(../sprites/058MS.png);
}
.arcanine {
    background-image: url(../sprites/059MS.png);
}
.poliwag {
    background-image: url(../sprites/060MS.png);
}
.poliwhirl {
    background-image: url(../sprites/061MS.png);
}
.poliwrath {
    background-image: url(../sprites/062MS.png);
}
.abra {
    background-image: url(../sprites/063MS.png);
}
.kadabra {
    background-image: url(../sprites/064MS.png);
}
.alakazam {
    background-image: url(../sprites/065MS.png);
}
.machop {
    background-image: url(../sprites/066MS.png);
}
.machoke {
    background-image: url(../sprites/067MS.png);
}
.machamp {
    background-image: url(../sprites/068MS.png);
}
.bellsprout {
    background-image: url(../sprites/069MS.png);
}
.weepinbell {
    background-image: url(../sprites/070MS.png);
}
.victreebel {
    background-image: url(../sprites/071MS.png);
}
.tentacool {
    background-image: url(../sprites/072MS.png);
}
.tentacruel {
    background-image: url(../sprites/073MS.png);
}
.geodude {
    background-image: url(../sprites/074MS.png);
}
.graveler {
    background-image: url(../sprites/075MS.png);
}
.golem {
    background-image: url(../sprites/076MS.png);
}
.ponyta {
    background-image: url(../sprites/077MS.png);
}
.rapidash {
    background-image: url(../sprites/078MS.png);
}
.slowpoke {
    background-image: url(../sprites/079MS.png);
}
.slowbro {
    background-image: url(../sprites/080MS.png);
}
.magnemite {
    background-image: url(../sprites/081MS.png);
}
.magneton {
    background-image: url(../sprites/082MS.png);
}
.farfetchd {
    background-image: url(../sprites/083MS.png);
}
.doduo {
    background-image: url(../sprites/084MS.png);
}
.dodrio {
    background-image: url(../sprites/085MS.png);
}
.seel {
    background-image: url(../sprites/086MS.png);
}
.dewgong {
    background-image: url(../sprites/087MS.png);
}
.grimer {
    background-image: url(../sprites/088MS.png);
}
.muk {
    background-image: url(../sprites/089MS.png);
}
.shellder {
    background-image: url(../sprites/090MS.png);
}
.cloyster {
    background-image: url(../sprites/091MS.png);
}
.gastly {
    background-image: url(../sprites/092MS.png);
}
.haunter {
    background-image: url(../sprites/093MS.png);
}
.gengar {
    background-image: url(../sprites/094MS.png);
}
.onix {
    background-image: url(../sprites/095MS.png);
}
.drowzee {
    background-image: url(../sprites/096MS.png);
}
.hypno {
    background-image: url(../sprites/097MS.png);
}
.krabby {
    background-image: url(../sprites/098MS.png);
}
.kingler {
    background-image: url(../sprites/099MS.png);
}
.voltorb {
    background-image: url(../sprites/100MS.png);
}
.electrode {
    background-image: url(../sprites/101MS.png);
}
.exeggcute {
    background-image: url(../sprites/102MS.png);
}
.exeggutor {
    background-image: url(../sprites/103MS.png);
}
.cubone {
    background-image: url(../sprites/104MS.png);
}
.marowak {
    background-image: url(../sprites/105MS.png);
}
.hitmonlee {
    background-image: url(../sprites/106MS.png);
}
.hitmonchan {
    background-image: url(../sprites/107MS.png);
}
.lickitung {
    background-image: url(../sprites/108MS.png);
}
.koffing {
    background-image: url(../sprites/109MS.png);
}
.weezing {
    background-image: url(../sprites/110MS.png);
}
.rhyhorn {
    background-image: url(../sprites/111MS.png);
}
.rhydon {
    background-image: url(../sprites/112MS.png);
}
.chansey {
    background-image: url(../sprites/113MS.png);
}
.tangela {
    background-image: url(../sprites/114MS.png);
}
.kangaskhan {
    background-image: url(../sprites/115MS.png);
}
.horsea {
    background-image: url(../sprites/116MS.png);
}
.seadra {
    background-image: url(../sprites/117MS.png);
}
.goldeen {
    background-image: url(../sprites/118MS.png);
}
.seaking {
    background-image: url(../sprites/119MS.png);
}
.staryu {
    background-image: url(../sprites/120MS.png);
}
.starmie {
    background-image: url(../sprites/121MS.png);
}
.mrmime {
    background-image: url(../sprites/122MS.png);
}
.scyther {
    background-image: url(../sprites/123MS.png);
}
.jynx {
    background-image: url(../sprites/124MS.png);
}
.electabuzz {
    background-image: url(../sprites/125MS.png);
}
.magmar {
    background-image: url(../sprites/126MS.png);
}
.pinsir {
    background-image: url(../sprites/127MS.png);
}
.tauros {
    background-image: url(../sprites/128MS.png);
}
.magikarp {
    background-image: url(../sprites/129MS.png);
}
.gyarados {
    background-image: url(../sprites/130MS.png);
}
.lapras {
    background-image: url(../sprites/131MS.png);
}
.ditto {
    background-image: url(../sprites/132MS.png);
}
.eevee {
    background-image: url(../sprites/133MS.png);
}
.vaporeon {
    background-image: url(../sprites/134MS.png);
}
.jolteon {
    background-image: url(../sprites/135MS.png);
}
.flareon {
    background-image: url(../sprites/136MS.png);
}
.porygon {
    background-image: url(../sprites/137MS.png);
}
.omanyte {
    background-image: url(../sprites/138MS.png);
}
.omastar {
    background-image: url(../sprites/139MS.png);
}
.kabuto {
    background-image: url(../sprites/140MS.png);
}
.kabutops {
    background-image: url(../sprites/141MS.png);
}
.aerodactyl {
    background-image: url(../sprites/142MS.png);
}
.snorlax {
    background-image: url(../sprites/143MS.png);
}
.articuno {
    background-image: url(../sprites/144MS.png);
}
.zapdos {
    background-image: url(../sprites/145MS.png);
}
.moltres {
    background-image: url(../sprites/146MS.png);
}
.dratini {
    background-image: url(../sprites/147MS.png);
}
.dragonair {
    background-image: url(../sprites/148MS.png);
}
.dragonite {
    background-image: url(../sprites/149MS.png);
}
.mewtwo {
    background-image: url(../sprites/150MS.png);
}
.mew {
    background-image: url(../sprites/151MS.png);
}
